.navbar.navbar-bg-light .navbar-nav > li > a{
  color: #777 !important;
}

.navbar.navbar-bg-light .navbar-nav > li > a:hover{
  color: #f96d55 !important;
}

.dataAbout{
  color: #777 !important;
}

.dataAbout .socialIcons .eachIcon a{
  color: #777 !important;
}

.dataAbout .socialIcons .eachIcon a:hover{
  color: #f96d55 !important;
}

#sticker{
  margin-bottom: 0px !important;
}

.navbar-brand{
  margin-top: 1%;
}

.vertical-nav-tabs.nav-tabs .active a{
  color:white !important;
}

.vertical-nav-tabs.nav-tabs>li>a{
  color: #555 !important;
}

.attorneys-all-main{
  padding: 34px 0px !important;
}

.decoration{
  display: flex;
  justify-content: center;
}

.decoration i{
  font-size: 60px;
}




@media screen and (max-width: 769px ){
  .navbar-header-about{

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

  }

}
